/*
    ======================================
    + Apply Style CSS
        - Create : 2023. 06. 10
    ======================================
*/

/* Import */
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* // Import */

/* Header */
.header-button + label[for="header-button"] > span {
    background: #fdfdfd;
}
/* // Header */

/* 1024 ~ Resolution */

/* Alert */
.alert {
    display: flex;
    position: fixed;
    transform: translateX(-100%);
    top: 10%;
    left: 100%;
    width: 35%;
    height: 60px;
    border-radius: 15px 0 0 15px;
    visibility: hidden; 
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
}

.alert.error {
    background: rgba(255, 55, 48, 70%);
}

.alert.success {
    background: rgba(0, 204, 13, 70%);
}

.alert-content {
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: 1rem;
}

.alert-content p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 1.15rem;
    color: #fff;
}

.alert-close {
    width: 15%;
    height: 100%;
    cursor: pointer;
}

.alert-close:before, .alert-close:after {
    content: '';
    position: absolute;
    top: 25%;
    right: 7.5%;
    width: 1px;
    height: 30px;
    margin-left: 10px;
    background-color: #fff;
}

.alert-close:before {
    transform: rotate(45deg);
}

.alert-close:after {
    transform: rotate(-45deg);
}
/* // Alert */

/* Intro Section */
.intro-section {
    width: 100%;
    height: 100vh;
    background: #111420;
}

.intro-contents { width: 100%; height: 50vh; transition: all 0.5s; }

.subtitle {
    position: relative;
    color: #fff;
    font-family: 'Galmuri9';
    text-align: center;
    font-size: 1.8rem;
    font-weight: lighter;
}

.subtitle > span {
    font-family: 'Galmuri9';
    color: #4fffbe;
}

.title {
    position: relative;
    color: #fff;
    font-family: 'PyeongChangPeace-Bold';
    text-align: center;
    font-size: 7.5rem;
}

.contents-background {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50.5vh;
    background: url(/static/images/background/wave.png);
    background-size: cover;
    background-position: center;
}
/* // Intro Section */

/* Contents Section */
.contents-section {
    display: table;
    width: 100%;
    background: #0d0e12;
}

.form-title,
.pc-only,
.mobile-only {
    margin: 0 3.5%;
    color: #f4f4f4;
    text-shadow: 0 5px 0 #4263f7;
    text-align: center;
    font-family: 'CWDangamAsac-Bold';
    font-size: 3.8rem;
}

.pc-only {
    margin: 0;
}

.mobile-only {
    display: none;
    margin: 0;
    opacity: 0;
    visibility: hidden;
}

/* Form Contents */
.applyform {
    display: table;
    width: 80%;
    height: 100vh;
    margin: 50px auto 0;
}

.applyform .row {
    width: 75%;
    height: 150px;
    margin: 0 auto;
}

.genderbox .row {
    width: 100%;
    flex-wrap: nowrap;
}

.applyform .row > .col:nth-child(1),
.applyform .row > .col:nth-child(2),
.applyform .row > .col:nth-child(3) {
    flex: 1;
}

.require {
    color: #4263f7;
}

.applyform .label {
    color: #fff;
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    margin-bottom: 15px;
}

.applyform input {
    height: 55px;
    background: #111;
    outline: none;
    border: 1px solid #4E4E4E;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.applyform input:focus,
.applyform textarea:not([class="privacy"]):focus {
    border: 1px solid #bbbbbb;
    transition: all 0.5s;
}

.applyform input::-webkit-input-placeholder {
    font-size: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.applyform input:focus::-webkit-input-placeholder {
    opacity: 0;
    color: transparent;
}

.applyform input[type="checkbox"],
.applyform input[type="radio"] {
    display: none;
}

.gender-focus {
    width: 0;
    height: 0;
    opacity: 0;
    transform: scale(0);
}

.checkbox-result,
.gender-result {
    display: none;
}

.applyform textarea {
    background: #111;
    resize: none;
    outline: none;
    border: 1px solid #4E4E4E;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.applyform textarea::-webkit-scrollbar {
    display: none;
}

.applyform textarea::-webkit-input-placeholder {
    font-size: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.applyform textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    color: transparent;
}

.namebox,
.birthdaybox,
.discordbox {
    margin-right: 55px;
}

.genderbox {
    flex: 0.65 !important;
}

.genderbox .row label {
    width: 50%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #111;
    border: 1px solid #4E4E4E;
    color: #757575;
    cursor: pointer;
}

.radioactive {
    color: #fff !important;
    border: 1px solid #cecece !important;
}

.introducewrap {
    height: 400px !important;
}

.introduce {
    height: 300px;
}

.introduce::-webkit-input-placeholder {
    line-height: 300px;
}

.privacywrap {
    height: 450px !important;
}

.privacy {
    height: 300px;
    font-size: 13.5px !important;
    text-align: left !important;
    color: #a5a5a5 !important;
}

.checkbox {
    margin-top: 20px;
}

.checkbox span {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox .check {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    transition: all 0.5s;
}

.checkbox .check::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 6px;
    width: 6px;
    height: 12px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg) scale(0);
    transition: all 0.5s;
    opacity: 0;
}

.checkbox .privacy-description {
    color: #fff;
    font-family: 'Pretendard-Regular';
    margin-left: 5px;
    font-size: 18px;
}

.checkbox input[type="checkbox"]:checked ~ .check {
    border-color: transparent;
    background: #4fffbe;
    transform: scale(1.2);
}

.checkbox input[type="checkbox"]:checked ~ .check::after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.buttonwrap {
    height: 100px !important;
}

.button {
    width: 250px;
    height: 55px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    line-height: 55px;
    font-size: 16.5px;
    margin-bottom: 35px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}
  
.button:hover {
    color: #4fffbe;
    border-bottom: 1px solid #4fffbe;
}

.resultwrap {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
/* // Form Contents */
/* // Contents Section */
/* // 1024 ~ Resolution */

/* ~ 480 Mobile Resolution */
@media (min-width: 320px) and (max-width: 480px) {
    /* Alert */
    .alert {
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 80px;
        border-radius: 15px;
    }

    .alert-content {
        width: 85%;
        font-size: 15px;
    }

    .alert-content p {
        text-wrap: wrap;
    }

    .alert-close {
        display: none;
    }
    /* // Alert */

    /* Intro Section */
    .intro-contents {
        height: 65vh;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.25rem;
        margin: 0 6% 1.8%;
    }

    .contents-background {
        height: 35.5vh;
    }
    /* // Intro Section */

    /* Contents Section */
    .form-title,
    .mobile-only {
        margin: 0 3.5% 5.5% 3.5%;
        text-align: center;
        font-size: 2.6rem;
    }

    .pc-only {
        display: none;
        margin: 0;
        opacity: 0;
        visibility: hidden;
    }

    .mobile-only {
        display: inline;
        margin: 0;
        opacity: 1;
        visibility: visible;
    }

    .applyform {
        width: 100%;
        margin: 20px auto 0;
    }

    .applyform .row {
        flex-direction: column;
    }

    div[class*="box"] {
        margin: 0 0 20px 0;
    }

    .identitywrap {
        height: 360px !important;
    }

    .genderbox .row {
        flex-direction: row;
        justify-content: center;
        height: 55px;
    }

    .male-selector {
        margin-right: 16.5% !important;
    }

    .contactwrap {
        height: 240px !important;
    }

    .channelwrap {
        height: 120px !important;
    }

    .introducewrap {
        height: 370px !important;
    }

    .introduce::-webkit-input-placeholder {
        font-size: 0.8rem !important;
    }

    .privacywrap {
        height: 440px !important;
    }

    .privacy {
        font-size: 12.5px !important;
    }

    .checkbox .privacy-description {
        font-size: 16.5px;
    }

    .applyform .label {
        font-size: 1.1rem;
    }
    /* // Contents Section */
}
/* // 480 ~ Mobile Resolution */