/*
    ======================================
    + Privacy Style CSS
        - Create : 2023. 06. 12
    ======================================
*/

/* Import */
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* // Import */

/* 1024 ~ Resolution */
/* Header */
.header-button + label[for="header-button"] > span {
    background: #fdfdfd;
}
/* // Header */

/* Container */
.container {
    background: #0d0e12;
}
/* // Container */

/* Animation */
@-webkit-keyframes FadeUp-Privacy {
    from {
        transform: translateY(150px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes FadeUp-Privacy {
    from {
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-up-privacy {
    opacity: 0;
    -webkit-animation: FadeUp-Privacy 1.5s;
            animation: FadeUp-Privacy 1.5s;
    transition-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
/* // Animation */

/* Intro Section */
.intro-section {
    width: 100%;
    height: 100vh;
    background: url('/static/images/background/lock.png');
    background-size: cover;
    background-position: center;
}

.subtitle {
    color: #fff;
    font-family: 'Galmuri11';
    text-align: center;
    font-size: 1.8rem;
    font-weight: lighter;
}

.title,
.title > span {
    color: #fff;
    margin-top: 20px;
    font-family: 'PyeongChangPeace-Bold';
    text-align: center;
    font-size: 5.5rem;
}

.title > span {
    padding: 2.5px 10px;
    background: #4fffbe;
    color: #000;
}

.loading-wrap {
    width: 10%;
    justify-content: space-around;
    position: relative;
    top: 20%;
}

.loading {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    animation: LoadingAnimation 1.2s 0s linear infinite;  
}

.loading.second {
    animation-delay: 0.2s;
    background: #4fffbe;
}

.loading.third {
    animation-delay: 0.4s;
    background: #4263f7;
}

@keyframes LoadingAnimation {
    0%,
    100% {
      opacity: 0.2;
      transform: scale(0.8);
    }

    50% {
      opacity: 1;
      transform: scale(1.25);
    }
}
/* // Intro Section */

/* Contents Section */
.contents-section {
    display: none;
    width: 100%;
    margin: 0 auto;
}

.contents-wrap {
    display: table;
    width: 80%;
    margin: 0 auto;
}

.contents-wrap a {
    color: #4fffbe;
    font-family: 'Pretendard-Regular';
}

.contents-wrap a:hover {
    color: #44dda5;
}

.sub {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
}

.sub > span {
    font-size: 1.15rem;
    color: #fff;
}

.content-title > span,
.content-title {
    color: #fff;
    font-size: 4.5rem;
    font-family: 'CWDangamAsac-Bold';
    margin-top: 1.18%;
}

.pc-only {
    display: inline-block;
}

.mobile-only {
    display: none;
}

.content-information {
    color: #c5c5c5;
    font-size: 1.15rem;
    font-family: 'Pretendard-Regular';
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.content-danger {
    color: #ff3c00;
    font-size: 1.15rem;
    font-family: 'Pretendard-Regular';
    margin-left: 10px;
}

.title-line {
    width: 250px;
    border: 1px solid #4fffbe;
    margin: 15px 0;
}

.content,
.content2,
.content3 {
    line-height: 26.5px;
    font-family: 'Pretendard-Regular';
    font-size: 1.2rem;
    color: #fff;
}

.content2 {
    margin-left: 2.5%;
}

.content3 {
    margin-left: 4.5%;
}

.content-subtitle > span,
.content > span,
.content2 > span {
    font-family: 'Pretendard-Regular';
    font-weight: bold;
    color: #fff;
}
/* // Contents Section */
/* // 1024 ~ Resolution */

/* ~ 390 Mobile Resolution */
@media (min-width: 320px) and (max-width: 480px) {
    /* Intro Section */
    .subtitle {
        font-size: 1.5rem;
    }

    .title,
    .title > span {
        font-size: 5rem;
    }

    .loading-wrap {
        width: 45%;
    }

    .loading {
        width: 22.5px;
        height: 22.5px;
    }
    /* // Intro Section */
    
    /* Contents Section */
    .contents-section {
        width: 92.5%;
    }

    .contents-wrap {
        width: 92.5%;
    }

    .content-title > span {
        display: none;
    }

    .content-title {
        text-align: center;
        font-size: 2.25rem;
    }

    .pc-only {
        display: none;
    }

    .mobile-only {
        display: inline-block;
    }

    .content-information {
        font-size: 1.08rem;
    }
    
    .content-danger {
        font-size: 1.08rem;
        margin: 2.5px 0 0 0;
    }

    .title-line {
        width: 100%;
    }

    .sub {
        font-size: 1.25rem;
    }

    .sub > span {
        font-size: 1rem;
    }

    .content,
    .content > span,
    .content2,
    .content2 > span,
    .content3 {
        font-size: 1rem;
        margin: 0;
    }
    /* // Contents Section */
}
/* // ~ 390 Mobile Resolution */