/*
    ======================================
    + Recruit Style CSS
        - Create : 2023. 07. 25
    ======================================
*/

/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* // Import */

/* Header */
.header-button + label[for="header-button"] > span {
    background: #fdfdfd;
}
/* // Header */

/* 1024 ~ Resolution */
/* Intro Section */
.intro-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #111420, #0e0e0e);
}

.intro-contents {
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 100vh;
}

.intro-subtitle {
    color: #fff;
    font-family: 'Pretendard-Regular';
    font-size: 27.5px;
    font-weight: 300;
    letter-spacing: 10px;
    text-shadow: 0 -12.5px 0 #303030;
}

.intro-subtitle > span {
    color: #4fffbe;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
}

.intro-title {
    color: #fff;
    font-family: 'CWDangamAsac-Bold';
    font-size: 10rem;
    margin-top: 1.25rem;
    letter-spacing: 20px;
    text-shadow: 0 20px 0 #4fffbe54;
}

.intro-arrow {
    position: relative;
    top: 75%;
    width: 35px;
    height: 35px;
    border-right: 5px solid #4263f7;
    border-bottom: 5px solid #4263f7;
    transform: rotate(45deg);
    box-shadow: 5.5px 5.5px 2.5px #000;
}
/* // Intro Section */

/* Before Contents Section */
.before-contents-section {
    width: 100%;
    height: 100vh;
    background: url('/static/images/background/circle.png') no-repeat fixed;
    background-size: cover;
    background-position: center;
}

.before-contents-wrap {
    width: 100%;
    height: 100vh;
}

.before-contents-title {
    color: #fff;
    font-weight: bold;
    font-size: 3.5rem;
}

.before-contents-title > span {
    color: #4fffbe;
}

.checklist-box {
    margin-top: 5%;
}

.checklist-header {
    position: absolute;
    margin-top: -25px;
    margin-left: 100px;
    width: 300px;
    height: 50px;
    background: #4263f7;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.checklist-contents-box {
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
}

.checklist-contents {
    width: calc(500px - 10%);
    height: 400px;
    margin: 100px 6% 0;
}

.checklist-title {
    color: #ffb923;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.8%;
}

.checklist-detail {
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    font-size: 1.2rem;
}

.checklist-detail > span {
    color: #0062ff;
    font-family: 'Pretendard-Regular';
}

.checklist-btn {
    position: relative;
    left: 60%;
    width: 150px;
    height: 40px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.checklist-btn:hover {
    color: #000;
    background: #f8f8f8;
    box-shadow: 0.5px 1.5px 10px #000;
}
/* // Before Contents Section */

/* Contents Section */
.contents-section {
    display: table;
    height: 80vh;
    background: linear-gradient(to top, #0e0e0e, #111420);
}

.contents-titles {
    width: 100%;
    height: 30vh;
}

.contents-title {
    color: #fff;
    font-weight: bold;
    font-size: 3.5rem;
}

.contents-title > span {
    color: #4fffbe;
}

.contents-subtitle {
    color: #fff;
    font-size: 1.5rem;
}

.job-amount {
    color: #4fffbe;
}

.luck,
.luck > span {
    color: #feebb6
}

.contents-wrap {
    display: table;
    width: 100%;
    height: 50vh;
}

.contents-jobs {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contents-jobs:not(:first-child) {
    margin-top: 100px;
}

.job-box {
    margin-top: 60px;
    transition: all 0.5s;
}

.job-box:hover {
    transform: scale(1.05);
}

.job-header {
    position: absolute;
    margin-top: -25px;
    margin-left: 25px;
    width: 230px;
    height: 50px;
    background: #ff8080;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.job-contents-box {
    width: 380px;
    height: 380px;
    background: #fff;
    border-radius: 10px;
}

.job-contents {
    width: 350px;
    height: 330px;
    margin: 50px 30px 0;
}

.job-title {
    color: #0062ff;
    font-weight: bold;
    font-size: 1.35rem;
    margin-bottom: 0.8%;
}

.job-detail {
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    font-size: 1.15rem;
}

.job-detail > span {
    color: #0062ff;
    font-family: 'Pretendard-Regular';
}

.job-apply-btn {
    position: relative;
    transform: translateX(-50%);
    left: calc(50% - 20px);
    width: 300px;
    height: 45px;
    margin-top: 12%;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    background: #111;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.job-apply-btn:hover {
    color: #000;
    background: #f8f8f8;
    box-shadow: 0.5px 1.5px 10px #000;
}

.job-apply-btn-disabled {
    color: #fff;
    background: #111;
    cursor: default;
}

.job-apply-btn-disabled:hover {
    color: #fff;
    background: #111;
    box-shadow: none;
}

.check-available {
    margin-top: 0.8%;
    font-family: 'Pretendard-Regular';
    font-weight: bold;
}

.available {
    color: #00b300;
}

.unavailable {
    color: #ff3c00;
}

.none {
    visibility: hidden;
}
/* // Contents Section */
/* // 1024 ~ Resolution */

/* ~ 480 Mobile Resolution */
@media (min-width: 320px) and (max-width: 480px) {
    /* Class */
    .pc-only {
        display: none;
    }
    /* // Class */

    /* Intro Section */
    .intro-subtitle {
        font-size: 1.25rem;
        letter-spacing: 2px;
    }
    .intro-title {
        font-size: 3.8rem;
        margin-top: 0.5rem;
        letter-spacing: 3px;
    }
    /* // Intro Section */

    /* Before Contents Section */
    .before-contents-title {
        font-size: 1.5rem;
    }

    .checklist-box {
        margin-top: 15%;
    }

    .checklist-header {
        width: 200px;
        margin-left: 60px;
    }

    .checklist-contents-box {
        width: 320px;
        height: 460px;
    }

    .checklist-contents {
        width: 300px;
        height: 390px;
        margin: 70px 5% 0;
    }

    .checklist-detail {
        font-size: 1.08rem;
    }

    .checklist-btn {
        left: 40%;
    }
    /* // Before Contents Section */

    /* Contents Section */
    .contents-titles {
        height: 27.5vh;
    }

    .contents-title {
        font-size: 1.55rem;
        margin-top: 5%;
    }

    .contents-subtitle {
        font-size: 1rem;
    }
    
    .contents-jobs {
        flex-direction: column;
    }

    .job-box:first-child {
        margin-top: 20px;
    }

    .job-box:not(:first-child) {
        margin-top: 80px;
    }

    .job-box:hover {
        transform: scale(1.0);
    }

    .job-contents-box {
        width: 340px;
    }

    .job-contents {
        width: 300px;
        margin: 50px 20px 0;
    }

    .job-title {
        font-size: 1.2rem;
    }

    .job-detail {
        font-size: 1.08rem;
    }

    .job-apply-btn {
        left: 50%;
    }

    .none {
        display: none;
    }
    /* // Contents Section */
}
/* // ~ 480 Mobile Resolution */