/*
    ============ [ START ] ============ 
        + About Style Sheet
    ===================================
*/

/* Intro Section */
.int {
    height: 100vh;
}

.int-btn {
    top: 49.5%;
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.subtext {
    position: relative;
    transform: translateY(-50%);
    top: 48.5%;
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.subtext > strong {
    font-weight: bolder;
    color: #fff;
}
/* // Intro Section */

/* Contents Section */
/* Contents Common */
.contents {
    height: calc(100vh * 3);
}

.about-title {
    font-weight: bolder;
    font-size: 4rem;
    color: #fff;
    text-align: left;
    padding: 6% 0 0 8%;
    margin-bottom: 80px;
    transition: all 0.8s;
    transition-delay: 0.2s;
}

.part-section {
    height: 100vh;
}

.center-wrap {
    position: relative;
    top: calc(50% - 65px);
    transform: translateY(-50%);
}

.contents-grid {
    display: flex;
    justify-content: center;
}
/* // Contents Common */

/* Team Section */
.team-title {
    margin-top: 10%;
}

.profile {
    width: 350px;
    height: 350px;
    transform: scale(1.0);
    transition: transform 0.5s;
}

.profile:hover {
    transform: scale(1.05);
    transition: transform 0.5s;  
}

.profile:not(:last-child) {
    margin-right: 15%;
}

.profile-wrap {
    width: 0;
    height: 0;
}

.profile-image {
    margin: 10px 25px 0 25px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: black;
    transition: 0.4s;
}

.profile-image:hover {
    box-shadow: 0px 0.5px 5px rgba(255, 255, 255, 1);
}

.profile-name {
    position: relative;
    transform: translateY(-50%);
    top: 95%;
    font-size: 25px;
    text-align: center;
    color: white;
}

.team-message {
    color: #fff;
    margin-top: 200px;
    text-align: center;
    font-size: 2.3rem;
    cursor: default;
    transition: all 0.5s;
}

.team-message:hover {
    letter-spacing: 5px;
}
/* // Team Section */

/* Color Section */
.about-color {
    display: inline-block;
    border-radius: 15px;
    margin-right: 2.5%;
}

.base {
    background: linear-gradient(to bottom left, #000, #222222);
    width: 26.5%;
    height: 400px;
}

.addition {
    background: linear-gradient(to bottom left, #232738, #394164);
    width: 26.5%;
    height: 400px;
}

.impact {
    background: linear-gradient(to bottom left, #4fffbe, #0d2e22);
    width: 26.5%;
    height: 400px;
    margin: 0;
}

.color-detail {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    font-size: 27px;
    text-align: center;
    font-weight: normal;
    color: #fff;
}
/* // Color Section */

/* Stat Section */
.stat-title {
    font-weight: bolder;
    font-size: 70px;
    color: #fff;
}

.stat {
    display: flex;
    justify-content: center;
    width: 100%;
}

.stat > li {
    flex: 1;
}

.stat > li:nth-child(1) {
    border-right: 1px solid #fff;
}

.stat-sub,
.stat-result {
    font-weight: bolder;
    text-align: center;
}

.stat-sub {
    font-size: 50px;
    color: #fff;
}

.stat-result {
    margin-top: 10px;
    font-size: 40px;
    color: #fff;
}
/* // Stat Section */
/* // Contents Section */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Intro Section */
    .int-title {
        font-size: 30px;
    }

    .subtext {
        font-size: 19px;
    }

    .int-btn {
        top: 48.5%;
    }
    /* // Intro Section */

    /* Contents Section */
    /* Contents Common */
    .contents {
        height: 2565px;
        padding-top: 90vh;
    }

    .about-title {
        font-weight: bolder;
        font-size: 3rem;
        color: #fff;
        text-align: center;
        padding: 6% 0 0 0;
        margin-bottom: 15px;
        transition: all 0.5s;
        transition-delay: 0.1s;
    }

    .part-section {
        height: auto;
    }

    .center-wrap {
        position: relative;
        top: 0;
        transform: translateY(-50%);
    }

    .contents-grid {
        display: block;
        margin: 5% !important;
    }
    /* // Contents Common */

    /* Team Section */
    .team-title {
        margin-top: 10%;
    }

    .profile-name {
        position: relative;
        transform: translateY(-50%);
        top: 95%;
        font-size: 25px;
        text-align: center;
        color: white;
    }

    .team-message {
        color: #fff;
        margin-top: 80px;
        text-align: center;
        font-size: 1.5rem;
        padding: 0 8px;
        cursor: default;
        transition: all 0.5s;
    }

    .team-message:hover {
        letter-spacing: 0;
    }
    /* // Team Section */

    /* Color Section */
    .color-section {
        padding-top: 5%;
        height: 830px;
    }

    .about-color {
        display: block;
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
        border-radius: 15px;
        margin-right: 2.5%;
    }

    .base {
        background: linear-gradient(to bottom left, #000, #222222);
    }

    .addition {
        background: linear-gradient(to bottom left, #232738, #394164);
    }

    .impact {
        background: linear-gradient(to bottom left, #4fffbe, #0d2e22);
        margin: 0;
    }

    .color-detail {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        font-size: 27px;
        text-align: center;
        font-weight: normal;
        color: #fff;
    }
    /* // Color Section */

    /* Stat Section */
    .stat-section {
        padding-top: 5%
    }

    .stat {
        flex-direction: column;
    }

    .stat > li:first-child {
        border: none;
        margin-bottom: 20px;
    }

    .stat-sub {
        font-size: 30px;
    }

    .stat-result {
        margin-top: 10px;
        font-size: 25px;
    }
    /* // Stat Section */
    /* // Contents Section */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Tablet Intro Section */
    .int-title {
        font-size: 43px;
    }

    .subtext {
        top: 46%;
        font-size: 23px;
    }

    .int-btn {
        top: 47%;
    }
    /* // Tablet Intro Section */

    /* Contents Common */
    .contents {
        height: 2565px;
        padding-top: 90vh;
    }

    .about-title {
        font-weight: bolder;
        font-size: 3rem;
        color: #fff;
        text-align: center;
        padding: 6% 0 0 0;
        margin-bottom: 15px;
        transition: all 0.5s;
        transition-delay: 0.1s;
    }

    .part-section {
        height: auto;
    }

    .center-wrap {
        position: relative;
        top: 0;
        transform: translateY(-50%);
    }

    .contents-grid {
        display: block;
        margin: 5% !important;
    }
    /* // Contents Common */

    /* Team Section */
    .team-section .contents-grid {
        margin-left: 28% !important;
    }

    .team-title {
        margin-top: 10%;
    }

    .profile:not(:last-child) {
        margin-bottom: 30px;
    }

    .profile-name {
        position: relative;
        transform: translateY(-50%);
        top: 95%;
        font-size: 25px;
        text-align: center;
        color: white;
    }

    .team-message {
        color: #fff;
        margin-top: 30px;
        text-align: center;
        font-size: 1.5rem;
        padding: 0 8px;
        cursor: default;
        transition: all 0.5s;
    }

    .team-message:hover {
        letter-spacing: 0;
    }
    /* // Team Section */

    /* Color Section */
    .color-section {
        padding-top: 5%;
        height: 830px;
    }

    .about-color {
        display: block;
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
        border-radius: 15px;
        margin-right: 2.5%;
    }

    .base {
        background: linear-gradient(to bottom left, #000, #222222);
    }

    .addition {
        background: linear-gradient(to bottom left, #232738, #394164);
    }

    .impact {
        background: linear-gradient(to bottom left, #4fffbe, #0d2e22);
        margin: 0;
    }

    .color-detail {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        font-size: 27px;
        text-align: center;
        font-weight: normal;
        color: #fff;
    }
    /* // Color Section */

    /* Stat Section */  
    .stat-section {
        padding-top: 5%
    }

    .stat {
        width: 100%;
        flex-direction: row;
    }

    .stat li:first-child {
        margin-left: 5%;
    }

    .stat-sub {
        font-size: 30px;
    }

    .stat-result {
        margin-top: 10px;
        font-size: 25px;
    }
    /* // Stat Section */
}
/* // Tablet */

/*
    ============ [ END ] ============ 
        + About Style Sheet
    ===================================
*/
