/*=== [ APPLY STYLESHEET START ] ===*/

/*=== [ NOTICE CSS ] ===*/
.header {
    top: 35px;
}

/*=== [ INTRO ] ===*/
.container {
    max-width: 100%;
}

.apply-int {
    height: 100vh;
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.int-btn {
    top: 48%;
}

/*=== [ APPLY FORM SECTION ] ===*/
.apply-form {
    height: 1350px;
}

.form {
    margin: 100px auto;
    width: 100%;
    height: 1116px;
    border: none;
}

.form::-webkit-scrollbar {
    display: none;
}

/*=== [ MOBILE CSS ] ===*/
@media (min-width: 320px) and (max-width: 480px) {
    /*=== [ NOTICE CSS ] ===*/
    .notice > p {
        font-size: 0.77rem;
    }

    /*=== [ INTRO ] ===*/
    .int-title {
        font-size: 34px;
    }

    .int-btn {
        top: 49.5%;
    }

    /*=== [ APPLY ] ===*/
    .apply-form {
        height: 1480px;
    }

    .form {
        height: 1266px;
    }
}

/*=== [ 3440 X 1440 RW CSS ] ===*/
@media (min-width: 3439px) and (max-width: 3440px) {

    /*=== [ APPLY ] ===*/
    .apply-form {
        height: 1336px;
    }

    .form {
        height: 1116px;
    }
}
/*=== [ APPLY STYLESHEET END ] ===*/