/*=== [ CREATORS STYLESHEET START ] ===*/

/*=== [ INTRO ] ===*/
.creators {
    height: 100vh;
}

.creator-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    animation: FadeIn 1s;
}

/*=== [ VIEW CREATORS ] ===*/
.view-creators {
    height: 1700px;
}

.contents-grid {
    display: flex;
    justify-content: center;
}

.profile {
    width: 350px;
    height: 350px;
    transform: scale(1.0);
    transition: transform 0.5s;
}

.profile:hover {
    transform: scale(1.05);
    transition: transform 0.5s;  
}

.profile:not(:nth-child(4)) {
    margin-right: 110px;
}

.profile-wrap {
    width: 0;
    height: 0;
}

.profile-image {
    margin: 10px 25px 0 25px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: black;
    transition: 0.4s;
}

.profile-image:hover {
    box-shadow: 0px 0.5px 5px rgba(255, 255, 255, 1);
}

.profile-name {
    position: relative;
    transform: translateY(-50%);
    top: 95%;
    font-size: 25px;
    text-align: center;
    color: white;
}

.pd-grid {
    padding: 150px 0 0 0;
}

.mt-grid {
    margin: 150px 0 0 0;
}

/*=== [ MOBILE CSS ] ===*/

@media (min-width: 320px) and (max-width: 480px) {
    /*=== [ MOBILE INTRO ] ===*/
    .creator-title {
        font-size: 34px;
    }

    .int-btn {
        margin-top: -15px;
    }

    /*=== [ MOBILE VIEW CREATORS ] ===*/
    .view-creators {
        height: 5100px;
    }
    
    .contents-grid {
        display: block;
        margin: 5% !important;
    }

    .profile {
        margin-top: 50px;
    }

    .first {
        margin-top: 0 !important;
    }

    .noprofile {
        display: none;
    }

    .mt-grid {
        margin: 0;
    }

    .profile:hover {
        transform: scale(1.0);
        transition: transform 0.5s;  
    }
    
}


/*=== [ 2560 X 1440 RW CSS ] ===*/
@media (min-width: 2558px) and (max-width: 2560px) {
    .view-creators {
        height: 1850px;
    }

    .profile:not(:nth-child(4)) {
        margin-right: 280px;
    }    
}

/*=== [ 3440 X 1440 RW CSS ] ===*/
@media (min-width: 3439px) and (max-width: 3440px) {
    .view-creators {
        height: 2100px;
    }

    .profile:not(:nth-child(4)) {
        margin-right: 450px;
    }    
}

/*=== [ CREATORS STYLESHEET END ] ===*/