/*=== [ CREATORS STYLESHEET START ] ===*/

/*=== [ ACTIVE NAVIGATION ] ===*/
.navigation > li > a[href="/Creators.html"] {
    color: rgb(120, 120, 120)
}

/*=== [ INTRO ] ===*/
.creators {
    background: linear-gradient(to bottom left, #232738, #000);
    height: 100vh;
}

.creator-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    animation: FadeIn 1s;
}

/*=== [ VIEW CREATORS ] ===*/
.view-creators {
    background: linear-gradient(140deg, #000, #232738);
    height: 1700px;
}

.creator_c {
    display: flex;
    padding-top: 10%;
}

.creator_c > li {
    flex: 1;
}

.profile_name {
    display: flex;
    text-align: center;
    color: #fff;
    margin-left: 175px;
    margin-top: 18px;
    font-size: 30px;
}

.creator_c > a {
    height: 0;
}

.creator_wrap {
    padding-top: 8%;
}

.creator_profile {
    transform: scale(1.0);
    transition: transform 0.5s;
}

.creator_profile:hover {
    transform: scale(1.1);
    transition: transform 0.5s;  
}

/*=== [ 2560 X 1440 RW CSS ] ===*/
@media (min-width: 2558px) and (max-width: 2560px) {
    .view-creators {
        background: linear-gradient(140deg, #000, #232738);
        height: 1850px;
    }

    .profile_name {
        display: flex;
        text-align: center;
        color: #fff;
        margin-left: 260px;
        margin-top: 18px;
        font-size: 30px;
    }
}

/*=== [ 3440 X 1440 RW CSS ] ===*/
@media (min-width: 3439px) and (max-width: 3440px) {
    .view-creators {
        background: linear-gradient(140deg, #000, #232738);
        height: 2100px;
    }

    .profile_name {
        display: flex;
        text-align: center;
        color: #fff;
        margin-left: 370px;
        margin-top: 18px;
        font-size: 30px;
    }
}

/*=== [ PROFILES ] ===*/

.question_profile {
    width: 250px;
    height: 250px;
    background: transparent;
    border-radius: 100%;
    margin: 0 auto;
    cursor: default;
    box-shadow: 0 1px 10px rgb(255, 255, 255 / 5%);
}

.profile1 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/CrownK_.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(255, 255, 255 / 5%);
}

.profile2 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/Dajibori.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(255, 255, 255 / 5%);
}

.profile4 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/Kenyang.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(255, 255, 255 / 5%);
}

.profile5 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/Lomun.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(255, 255, 255 / 5%);
}

.profile6 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/Sogak.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(255, 255, 255 / 5%);
}

.profile7 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/0Man.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(54 54 54 / 30%);
}

.profile8 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/Godcho.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(54 54 54 / 30%);
}

.profile9 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/Marka.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(54 54 54 / 30%);
}

.profile10 {
    width: 250px;
    height: 250px;
    background: url("/Assets/Images/Profile/Adwer.png");
    border-radius: 100%;
    margin: 0 auto;
    box-shadow: 0 1px 10px rgb(54 54 54 / 30%);
}

/*=== [ CREATORS STYLESHEET END ] ===*/