/*
    ============ [ START ] ============ 
        + Home Style Sheet
    ===================================
*/

/* Intro Section */
.int {
    height: 100vh;
}

.int-btn {
    top: 48%
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}
/* // Intro Section */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Mobile Intro Section */
    .int-title {
        font-size: 30px;
    }

    .int-btn {
        margin-top: -10px;
    }
    /* // Mobile Intro Section */
}
/* // Mobile */

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Tablet Intro Section */
    .int-title {
        font-size: 45px;
    }

    .int-btn {
        top: 45.5%;
    }
    /* // Tablet Intro Section */
}
/* // Tablet */

/*
    ============ [ End ] ============ 
        + Home Style Sheet
    ===================================
*/