/*=== [ HOME STYLESHEET START ] ===*/

/*=== [ INTRO ] ===*/
.int {
    height: 100vh;
}

.int-btn {
    top: 48%
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

/*=== [ MOBILE CSS ] ===*/
@media (min-width: 320px) and (max-width: 480px) {
    /*=== [ MOBILE ACTIVE NAVIGATION ] ===*/
    .mobilenav > li > a[href="/index.html"] {
        color: rgb(120, 120, 120)
    }

    /*=== [ MOBILE INTRO ] ===*/
    .int-title {
        font-size: 30px;
    }

    .int-btn {
        margin-top: -10px;
    }
}

/*=== [ HOME STYLESHEET END ] ===*/