/*
    ============ [ START ] ============ 
        + Main Style Sheet
    ===================================
*/

/* Base Style */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
    list-style: none; 
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: #000;
}

a {
    text-decoration: none;
    color: #4fffbe;
    transition: all 0.5s;
}

a:hover {
    color: #41cc99;
}

::-moz-selection {
    background: #3e4358;
    color: #fff;
}

::selection {
    background: #3e4358;
    color: #fff;
}

body {
    background: linear-gradient(to bottom left, #232738, #000);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.wrap {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
}
/* // Base Style */

/* Animation */
@-webkit-keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}
@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}
/* // Animation */

/* PC & Mobile Header */
.header {
    display: flex;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.header-btn {
    display: none;
}

.header-btn + label[for="header-btn"] {
    display: block;
    position: absolute;
    margin: 15px 0 0 15px;
    width: 37.5px;
    right: 15px;
    height: 26px;
    cursor: pointer;
}

.header-btn + label[for="header-btn"] > span {
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    z-index: 2;
    background: #f2f2f2;
    transition: all 0.5s;
}

.header-btn + label[for="header-btn"] > span:nth-child(1) {
    top: 0;
}

.header-btn + label[for="header-btn"] > span:nth-child(2) {
    top: 50%;
    width: 85%;
    transform: translateY(-50%);
}

.header-btn + label[for="header-btn"] > span:nth-child(3) {
    bottom: 0;
}

.header-btn:checked + label[for="header-btn"] > span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.header-btn:checked + label[for="header-btn"] > span:nth-child(2) {
    width: 0;
    transition: all 0.4s;
}

.header-btn:checked + label[for="header-btn"] > span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-135deg);
}

.layer-area {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0;
}

.navigation-layer {
    display: block;
    width: 100%;
    height: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(45deg, rgba(34,34,34,0.95), rgba(0,0,0,1));
    position: fixed;
    z-index: 1;
    transition: all 1s cubic-bezier(1, 0, 0.65, 1);
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.navigation > li {
    margin: 0 0 15px 0;
}

.navigation > li > a {
    font-weight: bolder;
    font-size: 3.05rem;
}

.header-btn:checked + label[for="header-btn"] + .navigation-layer {
    height: 100vh;
    border-radius: 0;
}

.header-btn:checked + label[for="header-btn"] + .navigation-layer > .layer-area {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 1s;
}

.navigation > li > a:hover {
    color: #41cc99;
    letter-spacing: 3.5px;
}

.disabled:hover {
    letter-spacing: 0 !important;
}

.m-btn,
.sidebar,
.label[for="m-btn"] {
    display: none;
}

.disabled {
    color: rgb(120, 120, 120) !important;
    cursor: default;
}
/* // PC & Mobile Header */

/* Notices */
.notice {
    display: flex;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 35px;
    background: linear-gradient(90deg, #4fffbe, #41ff96);
    z-index: 1;
    justify-content: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.notice > p {
    font-family: 'NanumSquareNeo-Variable';
    position: relative;
    line-height: 35px;
}
/* // Notices */

/* Buttons */
.btn {
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 49%;
    background: transparent;
    color: #dddddd;
    font-size: 16px;
    font-weight: lighter;
    border: none;
    border-bottom: 1px solid #5c5c5c !important;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.btn:hover {
    color: #fff;
    border-bottom: 1px solid #fff !important;
    font-size: 17px;
}
/* // Buttons */

/* Scroll Top Button */
.top-button-wrap {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 85px;
    width: 85px;
    visibility: hidden;
    opacity: 0;
    place-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}

.top-button-wrap:hover {
    width: 95px;
    height: 95px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

.top-button:hover {
    font-size: 24px;
}

.top-button {
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #4fffbe, #00ff77);
    border-radius: 100%;
    display: grid;
    text-align: center;
    justify-content: center;
    place-items: center;
    font-weight: bolder;
    font-size: 23px;
    transition: 0.5s;
    color: #000;
}

.top-button > p {
    position: relative;
    top: 3px;
}
/* // Scroll Top Button */

/* Footer */
.footer {
    position: absolute;
    width: 100%;
    height: 65px;
    bottom: 0px;
}

.footer-nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.footer-nav > li > a {
    color: #e9e9e9;
    font-weight: bolder;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-nav > li:nth-child(1) > a {
    color: #4FFFBE;
    margin-right: 25px;
}

.footer-nav > li:nth-child(1) > a:hover {
    color: #41cc99;
    margin-right: 30px;
}

.footer-nav > li:nth-child(2) > a {
    margin-right: 25px;
}

.footer-nav > li:nth-child(2) > a:hover {
    margin-right: 30px;
}

.footer-nav > li > a:hover {
    color: #919191
}

.footer-copy {
    color: #707070;
    font-size: 15px;
    margin-left: 30px;
    text-align: left;
}

.footer-copy > a {
    color: #707070;
    transition: 0.4s;
}

.footer-copy > a:hover {
    color: #919191
}
/* // Footer */


/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Base Style */
    .container {
        min-width: 320px;
        max-width: 480px;
    }
    /* // Base Style */

    /* Mobile Header */
    .navigation {
        display: none;
    }

    label[for="header-btn"] {
        display: none !important;
    }

    .m-btn {
        display: none;
    }
    
    .m-btn + label[for="m-btn"] {
        display: block;
        margin: 15px 0 0 15px;
        width: 35px;
        height: 26px;
        position: absolute;
        right: 15px;
        cursor: pointer;
    }

    .m-btn + label[for="m-btn"] > span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        right: 0;
        z-index: 2;
        background: #fff;
        transition: all 0.5s;
    }

    .m-btn + label[for="m-btn"] > span:nth-child(1) {
        top: 0;
    }

    .m-btn + label[for="m-btn"] > span:nth-child(2) {
        top: 50%;
        width: 85%;
        transform: translateY(-50%);
    }

    .m-btn + label[for="m-btn"] > span:nth-child(3) {
        bottom: 0;
    }

    .m-btn:checked + label[for="m-btn"] > span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .m-btn:checked + label[for="m-btn"] > span:nth-child(2) {
        width: 0;
        transition: all 0.4s;
    }

    .m-btn:checked + label[for="m-btn"] > span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-135deg);
    }

    .sidebar {
        display: block;
        width: 100%;
        height: 100vh;
        background: linear-gradient(45deg, rgba(34,34,34,0.95), rgba(0,0,0,1));
        position: fixed;
        top: 0;
        right: -100%;
        border-radius: 0 30px 0 0;
        z-index: 1;
        transition: all 0.8s cubic-bezier(1, 0, 0.6, 0.9);
    }

    .m-btn:checked + label[for="m-btn"] + .sidebar {
        border-radius: 0;
        right: 0;
    }

    .m-btn:checked + label[for="m-btn"] + .sidebar .mobile-nav {
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        transition-delay: 0.8s;
    }
    
    .mobile-nav {
        position: relative;
        display: flex;
        flex-direction: column;
        opacity: 0;
        margin-top: 65%;
        visibility: hidden;
        transition: 0.5s;
    }

    .mobile-nav > li {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .mobile-nav > li:last-child {
        margin-bottom: 0;
    }

    .mobile-nav > li > a {
        font-size: 2.4rem;
        text-align: center;
        font-weight: bolder;
        color: #4fffbe;
    }

    .mobile-nav > li > a:hover {
        letter-spacing: 3.5px;
    }
    /* // Mobile Header */

    /* Notices */
    .notice > p {
        font-size: 0.77rem;
    }
    /* // Notices */

    /* Scroll Top Button */
    .top-button-wrap {
        position: fixed;
        bottom: 15px;
        right: 15px;
        height: 68px;
        width: 68px;
    }

    .top-button-wrap:hover {
        width: 70px;
        height: 70px;
    }

    .top-button:hover {
        font-size: 19px;
    }

    .top-button {
        font-size: 18px;
    }

    .top-button > p {
        top: 1px;
    }
    /* // Scroll Top Button */

    /* Mobile Footer */
    .footer {
        height: 60px
    }
    .footer-nav {
        justify-content: flex-start;
        margin: 0 0px 10px 8px;
        text-align: center;
    }
    
    .footer-nav > li > a,
    .footer-nav > li > label {
        position: relative;
        bottom: -7px;
        color: #e9e9e9;
        font-weight: bolder;
        font-size: 14px;
        transition: 0.4s;
    }

    .footer-nav > li:not(:last-child) > a,
    .footer-nav > li:not(:last-child) > label {
        margin-right: 15px;
    }
    
    .footer-nav > li > a:hover,
    .footer-nav > li > label:hover {
        color: #919191
    }
    
    .footer-copy {
        color: #707070;
        font-size: 11.3px;
        margin-left: 8px;
        text-align: left;
    }
    
    .footer-copy > a {
        color: #707070;
        transition: 0.4s;
    }
    
    .footer-copy > a:hover {
        color: #919191
    }
    /* // Mobile Footer */
}
/* // Mobile */

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Container / Navigation / Footer */
    *::after,
    *::before {
        content: none;
    }

    .container {
        min-width: 768px;
        max-width: 1023px;
        z-index: 2;
    }

    .m-btn,
    .sidebar {
        display: none;
    }

    .navigation > li > a {
        font-size: 2.8rem;
    }

    .footer-nav,
    .footer-copy {
        margin-left: 15px;
    }
    /* // Container / Navigation / Footer */
}
/* // Tablet */

/* 2560 RW */
@media (min-width: 2558px) {
    .container {
        max-width: 2558px;
    }
}
/* // 2560 RW */

/*
    ============ [ END ] ============ 
        + Main Style Sheet
    ===================================
*/