/*=== [ NEWS STYLESHEET START ] ===*/

/*=== [ ACTIVE NAVIGATION ] ===*/
.navigation > li > a[href="/News.html"] {
    color: rgb(120, 120, 120)
}

/*=== [ INTRO ] ===*/
.news-int {
    height: 100vh;
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    animation: FadeIn 1s;
}

/*=== [ NEWS CONTENTS ] ===*/
.news-wrap {
    display: none;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.news-grid {
    display: flex;
    justify-content: center;
}

.news-card {
    width: 450px;
    height: 450px;
    transform: scale(1.0);
    transition: transform 0.5s;
}

.news-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;  
}

.news-card:not(:nth-child(3)) {
    margin-right: 50px;
}

.card-wrap {
    width: 0;
    height: 0;
}

.card-image {
    margin: 10px 20px 0 20px;
    width: 410px;
    height: 410px;
    background: white;
    transition: 0.4s;
}

.card-image:hover {
    box-shadow: 0px 0.5px 5px rgb(79 255 190 / 50%);
}

.card-subject {
    position: relative;
    transform: translateY(-50%);
    top: 95%;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: lighter;
    text-align: center;
    color: white;
}

/*=== [ MOBILE CSS ] ===*/
@media (min-width: 320px) and (max-width: 480px) {
    .wrap {
        display: none;
    }
}

/*=== [ 3440 X 1440 RW CSS ] ===*/
@media (min-width: 3439px) and (max-width: 3440px) {
    .news-card {
        width: 500px;
        height: 525px;
    }

    .card-image {
        margin: 10px 10px 0 10px;
        width: 480px;
        height: 480px;
    }
}

/*=== [ NEWS STYLESHEET END ] ===*/