/*
    ============ [ START ] ============ 
        + News Style Sheet
    ===================================
*/

/* Intro Section  */
.news-int {
    height: 100vh;
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.news-btn {
    top: 48.5%;
}
/* // Intro Section */

/* Page Selector */
.page-button {
    display: none;
}

.page-selector {
    position: relative;
    top: 18.5%;
    left: 15%;
    transform: translateX(-50%);
}

.page-button + .page-selector {
    display: inline-block;
    padding: 25px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;
}

.page-selector:hover {
    color: #4fffbe;
    transition: all 0.3s;
}

.page-button:checked + .page-selector {
    color: rgb(120, 120, 120);
}

#page-set:checked ~ .page1 {
    display: flex;
}

#page-set-2:checked ~ .page2 {
    display: flex !important;
}
/* // Page Selector */

/* Contents */
.news-wrap {
    width: 100%;
    height: 100vh;
}

.contents-wrap{
    position: relative;
    top: 25%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.table {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
}

.table > ul,
.table-contents > ul > a > ul {
    display: flex;
}

.table-header {
    width: 100%;
    justify-content: center;
}

.table-header-contents {
    line-height: 80px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.25rem;
    color: #fff;
}

.category {
    flex: 3;
}

.title {
    flex: 7;
}

.date {
    flex: 2;
}

.table-header-contents:not(:last-child) {
    border-right: 1px solid #838383;
}

.table-contents {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
}

.table-list {
    width: 100%;
    height: 50px;
}

.news {
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid #353535;
    transition: all 0.5s;
}

.news:hover {
    border-bottom: 0.5px solid #d6d6d6;
    margin-bottom: 45px;
}

.news:last-child {
    margin-bottom: 0;
    margin-top: 10px;
}

.news:last-child:hover {
    margin-bottom: 0;
    margin-top: 45px;
}

.news > li {
    line-height: 80px;
    text-align: center;
    font-size: 18.5px;
    color: #fff;
    transition: all 0.5s;
}

.news:hover > li {
    opacity: 0.8;
}

.contents-category {
    flex: 3;
    color: #76ffcd !important;
}

.contents-title {
    flex: 7;
}

.contents-date {
    flex: 2;
}
/* // Contents */

/* Page */
.page1 {
    display: none;
}

.page2 {
    display: none;
}
/* // Page */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Mobile Intro Section */
    .int-title {
        font-size: 32px;
    }

    .news-btn {
        top: 49.5% !important;
    }
    /* // Mobile Intro Section */

    /* Contents Section */
    .table {
        width: 90%;
    }

    .table-header-contents {
        font-size: 1rem;
        border: none !important;
    }

    .category {
        display: none;
    }

    .title {
        flex: 12;
    }

    .date {
        display: none;
    }

    .news:hover {
        margin-bottom: 20px;
    }
    
    .news:last-child:hover {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .news > li {
        font-size: 0.8rem;
        white-space: nowrap;
    }

    .contents-category {
        display: none;
    }
    
    .contents-title {
        flex: 12;
    }
    
    .contents-date {
        display: none;
    }
    /* // Contents Section */
}
/* // Mobile */

/* 3440 RW */
@media (min-width: 3439px) and (max-width: 3440px) {
    /* Contents Section */
    .page-selector {
        top: 30%;
    }

    .contents-wrap {
        top: 35%;
    }
    /* // Contents Section */
}
/* // 3440 RW */

/* 2560 RW */
@media (min-width: 2558px) {
    /* Contents Section */
    .page-selector {
        top: 30%;
    }

    .contents-wrap {
        top: 35%;
    }
    /* // Contents Section */
}
/* // 2560 RW */

/*
    ============ [ END ] ============ 
        + News Style Sheet
    ===================================
*/