/*=== [ PRIVACY STYLESHEET START ] ===*/

/*=== [ INTRO ] ===*/
.policy-int {
    height: 100vh;
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    color: #fff;
    font-size: 58px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.int-btn {
    top: 48%;
}

.int-subtitle {
    position: relative;
    transform: translateY(-50%);
    top: 48%;
    color: #ff8080;
    font-size: 20px;
    text-align: center;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

/*=== [ POLICY CONTENTS ] ===*/
.policy-wrap {
    height: 3150px;
}

.explain {
    padding-top: 100px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.line {
    width: 83%;
    margin: 0 auto 15px;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.sub {
    margin-left: 5%;
    margin-bottom: -10px;
    font-size: 28px;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.first,
.second {
    margin-top: 0 !important;
}

.sub{
    margin-top: 30px;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

custag {
    color: #fff;
    font-size: 20px;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.content {
    font-weight: normal;
    margin-right: 6.2%;
    margin-left: 6.2%;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.content2 {
    font-weight: normal;
    margin-right: 8%;
    margin-left: 8%;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

.content,
.content2,
.sub,
span {
    color: #fff;
}

a {
    color: #4fffbe;
    transition: 0.4s;
    -webkit-animation: FadeIn 1s;
            animation: FadeIn 1s;
}

a:hover {
    color: #41cc99;
}

.footer {
    height: 60px;
}

/*=== [ MOBILE CSS ] ===*/
@media (min-width: 320px) and (max-width: 480px) {

    /*=== [ MOBILE INTRO ] ===*/
    .policy-int {
        height: 100vh;
    }
    
    .int-title {
        font-size: 34px;
    }

    .int-subtitle {
        top: 48.5%;
        font-size: 14px;
    }

    .int-btn {
        top: 49%;
    }
    
    /*=== [ MOBILE POLICY CONTENTS ] ===*/
    .policy-wrap {
        height: 4600px;
    }
    
    .explain {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
    
    .line {
        width: 83%;
        margin: 0 auto 15px;
    }
    
    .sub {
        margin-left: 5%;
        margin-bottom: -10px;
        font-size: 17px;
    }
    
    .first,
    .second {
        margin-top: 0 !important;
    }
    
    .sub{
        margin-top: 30px;
    }
    
    custag {
        color: #fff;
        font-size: 14px;
    }
    
    .content {
        font-weight: normal;
        font-size: 15px;
        margin-right: 7.5%;
        margin-left: 7.5%;
    }
    
    .content2 {
        font-weight: normal;
        font-size: 15px;
        margin-right: 8%;
        margin-left: 8%;
    }
}

/*=== [ 2560 RW CSS ] ===*/
@media (min-width: 2558px) {
    /*=== [ POLICY CONTENTS ] ===*/
    .explain {
        font-size: 40px;
    }

    .policy-wrap {
        height: 3300px;
    }

    .sub {
        font-size: 30px;
    }

    .content,
    .content2 {
        font-size: 20px;
    }
}

/*=== [ PRIVACY STYLESHEET END ] ===*/