/*=== [ PROFILES STYLESHEET START ] ===*/

/*=== [ PROFILES ] ===*/
.question {
    background: url('/Assets/Images/Profiles/Question.png')
}

.pro1 {
    background: url('/Assets/Images/Profiles/CrownK.png')
}

.pro2 {
    background: url('/Assets/Images/Profiles/Dajibori.png')
}

.pro3 {
    background: url('/Assets/Images/Profiles/Kenyang.jpg')
}

.pro4 {
    background: url('/Assets/Images/Profiles/Lomun.png')
}

.pro5 {
    background: url('/Assets/Images/Profiles/Sogak.png')
}

.pro6 {
    background: url('/Assets/Images/Profiles/0Man.png')
}

.pro7 {
    background: url('/Assets/Images/Profiles/Godcho.png')
}

.pro8 {
    background: url('/Assets/Images/Profiles/Marka.png')
}

.pro9 {
    background: url('/Assets/Images/Profiles/Adwer.png')
}

.pro10 {
    background: url('/Assets/Images/Profiles/Haramii.png')
}

/*=== [ PROFILES STYLESHEET END ] ===*/