/*
    ============ [ START ] ============ 
        + News Main Style Sheet
    ===================================
*/

/* Intro Section */
.int {
    background: linear-gradient(to bottom right, #000, transparent);
    backdrop-filter: blur(5px);
    border-radius: 0 0 10px 10px;
    height: 450px;
    animation: FadeIn 1s;
}

.int-title {
    position: relative;
    transform: translateY(-50%);
    top: 58%;
    color: #fff;
    font-size: 58px;
    font-weight: bolder;
    text-align: center;
    animation: FadeIn 1s;
}

.int-line {
    border: 1px solid #4fffbe;
    margin-left: 50%;
    width: 50%;
    animation: FadeIn 1s;
}
/* // Intro Section */

/* Content Section */
.content {
    margin: 1% 3% 0;
    color: #fff;
    font-size: 1.4rem;
    animation: FadeIn 1s;
}

.content-btn:not(:nth-child(4)) {
    margin: 0 20px !important;
}

.buttons {
    display: flex;
    justify-content: center;
}
/* // Content Section */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
    /* Mobile Intro Section */
    .int {
        height: 300px;
    }
    
    .int-title {
        padding: 0 10px;
        font-size: 28px;
    }
    /* // Mobile Intro Section */

    /* Mobile Content Section */
    .content {
        margin-top: 10%;
        font-size: 1.2rem;
    }
    /* // Mobile Content Section */
}
/* // Mobile */

/*
    ============ [ END ] ============ 
        - News Main Style Sheet
    ===================================
*/